<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>choffice</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <description>The principal used for ldap lookup</description>
        <param-name>ldap.principal</param-name>
        <param-value>cn=manager,ou=Internal,dc=system,dc=lan</param-value>
    </context-param>
    <context-param>
        <description>The credential used for ldap lookup</description>
        <param-name>ldap.credential</param-name>
        <param-value>jMSL5KNZtM+O8RB+</param-value>
    </context-param>
    <context-param>
        <description>The url of the ldap server</description>
        <param-name>ldap.url</param-name>
        <param-value>ldaps://192.168.11.224:636</param-value>
    </context-param>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>org.therismos.authen.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.jsfx</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <listener>
        <description>Provider of EntityManager</description>
        <listener-class>org.therismos.EMF</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>WeeklyOfferServlet</servlet-name>
        <servlet-class>org.therismos.servlet.WeeklyOfferServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklyOfferServlet</servlet-name>
        <url-pattern>/WeeklyOffer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Staff</display-name>
        <web-resource-collection>
            <web-resource-name>Staff (member card)</web-resource-name>
            <description/>
            <url-pattern>/members/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Offers</web-resource-name>
            <description/>
            <url-pattern>/offers/*</url-pattern>
        </web-resource-collection>
        <web-resource-collection>
            <web-resource-name>Member cards</web-resource-name>
            <description/>
            <url-pattern>/users/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>staff</role-name>
            <role-name>deacons</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Librarians</display-name>
        <web-resource-collection>
            <web-resource-name>Librarians and staff</web-resource-name>
            <description/>
            <url-pattern>/library/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>librarians</role-name>
            <role-name>deacons</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsf</form-login-page>
            <form-error-page>/login-failed.jsf</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>deacons</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>librarians</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>staff</role-name>
    </security-role>
    <resource-env-ref>
        <resource-env-ref-name>datapath</resource-env-ref-name>
        <resource-env-ref-type>java.lang.String</resource-env-ref-type>
    </resource-env-ref>
</web-app>
